[submodule "STDAPI"]
	path = STDAPI
	url = git@github.com:I1Va/mipt-ded-bardak.git
	branch = textmsg
[submodule "bardak_api"]
	path = bardak_api
	url = git@github.com:I1Va/mipt-ded-bardak.git
	branch = textmsg
